[Unit]
Description=USB/IP daemon
After=network.target usb-bridge-host-agent.service
Requires=usb-bridge-host-agent.service

[Service]
Type=simple
ExecStartPre=/usr/sbin/modprobe usbip-host
ExecStart=/usr/sbin/usbipd --ipv4
Restart=on-failure
PrivateTmp=yes
ProtectHome=yes
ProtectSystem=strict
ProtectKernelTunables=no

[Install]
WantedBy=multi-user.target
